.row
  .span4.offset1

    %ul.unstyled
      %li
        %i.icon-envelope
        = mail_to "iviz@lists.cse.ucdavis.edu", "email"
      %li
        %i.icon-github-alt
        = link_to "github project", "https://github.com/comscictr/vroom"
      %li
        %i.icon-bug
        = link_to "issues", "https://github.com/comscictr/vroom/issues"

    :markdown
      this site was built using [middleman](http://middlemanapp.com) and
      [bootstrap](http://twitter.github.io/bootstrap/)


