.alert.alert-info
  :markdown
    This is an internal function used by **vroom**. All internal functions are
    optional. However, if they are defined in your application they will be 
    called automatically. A list of all internal **vroom** functions can be
    found [here](/documentation/tags/structure.html).
