.navbar.navbar-fixed-top
  .navbar-inner
    %a.brand{:href=>url_for("/index.html")}
      %i.icon-home
    %ul.nav
      - data.navbar.links.each do |link|
        %li= link_to link.text, link.href

