.navbar.navbar-fixed-top
  .navbar-inner
    %a.brand{:href => "/"} 
      %i.icon-home
    %ul.nav
      %li= link_to "download", "/download.html"
      %li= link_to "documentation" ,"/documentation.html"
      %li= link_to "about", "/about.html"
      %li= link_to "demos", "/demos.html"


