footer
  border: 1px solid darken($footer-background-color, 10%)
  margin-top: 40px
  padding: 40px 0 20px 0

  background: $footer-background-color
  color: darken($footer-background-color, 20%)

  font-size: $footer-font-size

  a
    color: darken($footer-background-color, 40%)
    &:hover
      color: darken($footer-background-color, 70%)
